html
{
	font-size: 0.7rem;
}
body
{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	font-size: 1rem;
	width: 100%;
	margin-top: 2rem;
}
ul li
{
	list-style: none;
}
a
{
	text-decoration: none;
	color: black;
}
.side-bar-content
{
	min-height: 4.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 1.15rem;
	position: relative;
	box-sizing: border-box;
	align-items: center;
	padding:  0 2rem;	
}
.side-bar
{
	width: 100%;
	display: block;
	position: fixed;
	background-color: white;
	z-index: 1;
}
.center-item
{
	flex-grow: 1;
}
.search-icon
{
	font-size: 1.5rem;
	margin-right: 2.25rem;
	font-weight: 200;
}
.side-bar-nav
{
	height: 60%;
	min-width: 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.side-bar-nav span
{
	display: block;
	width: 100%;
	height: 0.375rem;
	background-color: black;
	margin: 0.5rem 0;
	border-radius: 20%;
	transform-origin: left;
	transition: 0.5s;
}
.nav-menu
{
	font-size: 1.5rem;
	position: absolute;
	top: 100%;
	left:0;
	width: 100%;
	height:0;
	min-height: 30rem;
	overflow: scroll;
	box-sizing: border-box;
	display: none;
	background-color: #fff;
}
.menu
{
	max-width: 100%;
	margin: 0;
	box-sizing: border-box;
	padding-left: 20px;
	margin-bottom: 2rem;
	display: block;
	position: relative;

}
.nav-menu li 
{
	color: #000;
	padding: 0.5rem;
	width: 85%;
}
.nav-menu li a i
{
	font-size: 1rem;
	color: #000;
	padding-top: -0.2rem; 
}
.has-menu
{
	width: 100%;
	display: none;
	margin: 1rem 0;
	box-shadow: 7px 10px 24px 2px rgba(0,0,0,0.2);
	padding-left: 1rem;
}

.nav-menu button
{
	padding: 1rem;
	color: #fff;
	font-size: 1.5rem;
	background-color: #2C3038;
	margin-left: 2rem;
}
.active-click
{
	font-size: auto
}
/*header */
.header
{
	margin-top: 5rem;
	background-image: url(picture/ba1.jpg) ;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.overlay
{
	width: 100%;
	min-height: 50rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-size: 1.35rem;
	background-color: rgba(0,0,0,0.4);
	position: relative;
	
}

#pleft,#pright
{
	font-size: 1rem;
	margin: 1rem;
	flex-grow: 0;
}
.content-head button
{
	padding: 1rem 1.3rem;
	color: black;
	font-size: 1.3rem;
	background-color:#fff ;
	border: none;
}
#content-head-div
{
	width: 100%;
	display: flex;
	flex-grow: 1;
}
.content-head
{
	margin-left: 0.5rem;
	color: #EEE;
	max-width: 40rem;
	font-size: 1.2rem;
}
.content-head *
{
	flex-grow: 1;
	margin-bottom: 2.5rem;

}
.content-head h1
{
	font-size: 3rem;
	font-weight: 0;
}
.content-head p
{
	line-height: 2rem;
	color: #DDD;
}
.button-change
{
	position: absolute;
	bottom: 0;
	left: 43%;
	width: 7rem;
	display: flex;
	justify-content: space-around;
	margin: 0;
}
.button-change span
{
	max-width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 0.2rem solid white;
}

